<h1 class="jumbotron">Add a book!</h1>

<div class="container">

  <%= simple_form_for @book do |f| %>
    <%= f.input :name %>
    <%= f.input :author %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to "Back to home", books_path %>

</div>
